<html>
<head>
    <title>Pyneal Real-time Dashboard</title>

    <!-- Load scripts -->
    <script src="{{ url_for('static', filename='js/socket.io.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js')}}"></script>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css')}}" />


</head>
<body>
<div id="dashboardContainer">
    <div id="header">
        <img src="{{ url_for('static', filename='images/pynealLogoBig.png')}}">
        <img src="{{ url_for('static', filename='images/pynealText.png')}}">
    </div>

    <div id='progressDiv'>
        <div id="currentVolDiv">Current Vol:
            <p id="currentVol">0</p>
        </div>
        <div id="progressBarDiv"></div>
    </div>

    <div id='motionDiv'>
        <div class="divHeading">head motion</div>
        <div id="motionPlotDiv"></div>
    </div>

    <div id='timingDiv'>
        <div class="divHeading">processing time/volume</div>
        <div id="timingPlotDiv"></div>
    </div>

    <div id='pynealLogDiv'>
    </div>

    <div id='resultsServerLogDiv'>
    </div>
</div>

    <!-- page script -->
    <script src="{{ url_for('static', filename='js/pynealDashboard.js')}}"></script>

</body>
</html>
