###############################
## Pyneal Dependencies
## call this file to install all dependencies
## 		> pip install -r requirements.txt
## Do this after installing the other dependencies described in the
## instructions at: https://jeffmacinnes.github.io/pyneal-docs/installation/
###############################

pyyaml==3.12
nibabel==2.1.0
nipy==0.4.1
numpy==1.13.1
scipy==1.1.0
pyzmq==16.0.2
flask==0.12.2
flask_socketio==2.9.2
eventlet==0.21.0
