@font-face {
    font-family:'TeX Gyre Adventor';
    src: "{{url_for('static', filename='fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.eot')}}";
    src: "{{url_for('static', filename='fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.eot?#iefix')}}" format('embedded-opentype'),
         "{{url_for('static', filename='fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.woff')}}", format('woff'),
         "{{url_for('static', filename='fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.ttf')}}" format('truetype'),
         "{{url_for('static', filename='fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.svg#texgyreadventorregular')}}" format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'TeX Gyre Adventor Bold';
    src: "{{url_for('static', filename='fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.eot')}}";
    src: "{{url_for('static', filename='fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         "{{url_for('static', filename='fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.woff') format('woff'),
         "{{url_for('static', filename='fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.ttf') format('truetype'),
         "{{url_for('static', filename='fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor Italic';
    src: "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.eot')}}";
    src: "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.woff') format('woff'),
         "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.ttf') format('truetype'),
         "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
 */


#dashboardContainer {
    width: 85%;
    height: 100%;
    margin: auto;
    display: grid;
    font-family: "TeX Gyre Adventor";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 90px 300px 400px;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    grid-template-areas:
        "header header header header"
        "progress progress progress progress"
        "motion motion timing timing"
        "pynealLog pynealLog resultsServerLog resultsServerLog";
}

.divHeading {
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 20;
    display: table-row;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#header {
    grid-area: header;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,.7);
}

#header img{
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    height:100%;
}

/* PROGRESS DIV ------------------------------------ */
#progressDiv {
    grid-area: progress;
    /* background-color: rgba(0,0,0,.05); */
    padding-bottom: 5px;
    /* border-bottom: 1px solid rgba(0,0,0,.7); */
}

#currentVolDiv {
    height: 100%;
    width: 150px;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 24;
    float: left;
    text-align: center;
    /* background-color: rgba(1, 0, 0, .2); */
}

#currentVolDiv p{
    font-size: 40;
    margin: auto;
}

#progressBarDiv {
    height: 100%;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 30px;
}



/* MOTION DIV ------------------------------------ */
#motionDiv {
    grid-area: motion;
    /* background-color: rgba(0,0,0,.2); */
    display: table;
}


#motionPlotDiv {
    display: table-row;
    height: 100%;
    overflow: hidden;
    /* background-color: rgba(0,0,0,.2); */
}

#rmsABS_line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


/* TIMING DIV ------------------------------------ */
#timingDiv {
    grid-area: timing;
    /* background-color: rgba(0,0,0,.2); */
    display: table;
}


#timingPlotDiv {
    display: table-row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* PYNEAL LOG DIV ------------------------------------ */
#pynealLogDiv {
    grid-area: pynealLog;
    background-color: rgba(0,0,0,.3);
}


#resultsServerLogDiv {
    grid-area: resultsServerLog;
    background-color: rgba(0,0,0,.3);
}
