@font-face {
    font-family:"TeX Gyre Adventor";
    src: url("../fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.eot");
    src: url("../fonts/texgyreadventor_bold/texgyreadventor-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.woff") format("woff"),
         url("../fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.ttf") format("truetype"),
         url("../fonts/texgyreadventor_regular/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor Bold';
        src: url("../fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.eot");
        src: url("../fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.eot?#iefix") format('embedded-opentype'),
             url("../fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.woff") format('woff'),
             url("../fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.ttf") format('truetype'),
             url("../fonts/texgyreadventor_bold/texgyreadventor-bold-webfont.svg#texgyreadventorregular") format('svg');
    font-weight: bold;
    font-style: normal;
}

/*
@font-face {
    font-family: 'TeX Gyre Adventor Italic';
    src: "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.eot')}}";
    src: "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.woff') format('woff'),
         "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.ttf') format('truetype'),
         "{{url_for('static', filename='fonts/texgyreadventor_italic/texgyreadventor-italic-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
 */


#dashboardContainer {
    width: 85%;
    height: 100%;
    margin: auto;
    display: grid;
    font-family: "TeX Gyre Adventor";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 100px 300px 400px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-areas:
        "header header header header header header header header"
        "progress progress progress progress progress settings settings settings"
        "motion motion motion motion timing timing timing timing"
        "pynealScannerLog pynealScannerLog pynealScannerLog pynealScannerLog resultsServerLog resultsServerLog resultsServerLog resultsServerLog";
}

.divHeading {
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 20;
    display: flex;
    flex: .15;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
/* Header DIV ------------------------------------ */
#header {
    grid-area: header;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,.7);
}

#header img{
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    height:100%;
}


/* PROGRESS DIV ------------------------------------ */
#progressDiv {
    grid-area: progress;
    /* background-color: rgba(0,0,0,.05); */
    padding-bottom: 5px;
    /* border-bottom: 1px solid rgba(0,0,0,.7); */
}

#currentVolDiv {
    height: 100%;
    width: 150px;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 20;
    float: left;
    text-align: center;
    /* background-color: rgba(1, 0, 0, .2); */
}

#currentVolDiv p{
    font-size: 32;
    margin: auto;
}

#progressBarDiv {
    height: 100%;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 30px;
}


/* Settings DIV ------------------------------------ */
#settings {
    grid-area: settings;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12;
    line-height: 1.3;
    /* background-color: rgba(0,0,0,.1); */
}

#settings .settingsHeading{
    width: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: #A44754;
    font-size: 13;
}

#settings .setting{
    display: inline-block;
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 70%;
    vertical-align: top;
}


/* MOTION DIV ------------------------------------ */
#motionDiv {
    grid-area: motion;
    /* background-color: rgba(0,0,0,.2); */
    display: flex;
    flex-direction: column;
    flex: 1;
}


#motionPlotDiv {
    display: flex;
    flex: 1;
    overflow: hidden;
    /* background-color: rgba(0,0,0,.2); */
}

#rms_abs_line {
  fill: none;
  stroke: #265971;
  stroke-width: 2px;
}

#rms_abs_indicator {
    fill: #265971;
}

#rms_rel_line {
  fill: none;
  stroke: #5CC2F0;
  stroke-width: 2px;
}

#rms_rel_indicator {
    fill: #5CC2F0;
}

/* TIMING DIV ------------------------------------ */
#timingDiv {
    grid-area: timing;
    /* background-color: rgba(0,0,0,.2); */
    display: flex;
    flex-direction: column;
    flex:1
}

#timingPlotDiv {
    display: flex;
    flex: 1;
    height: 270px;
    overflow: hidden;
}

#volTime_line {
    fill: none;
    stroke: #A44754;
    stroke-width: 2px;
}

#volTime_indicator {
    fill: #A44754;
}


/* PYNEAL SCANNER LOG DIV ------------------------------------ */
.logHeader{
    height: 30px;
    background-color: rgba(0,0,0,.15);
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 20;
    border-bottom: 1px solid rgba(0,0,0,1);
}

.logMessageBox {
    height: 360px;
    width: 100%;
    overflow:auto;
}

#pynealScannerLogDiv {
    grid-area: pynealScannerLog;
    border: 1px solid rgba(0,0,0,.15);
}

.pynealScannerMsg {
    width: 100%;
    display: table;
}

.pynealScannerIndicator {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    display: inline-block;
    float:left;
}

.pynealScannerIndicator circle{
    fill: rgba(0,0,0,.15);
}

.pynealScannerLogMsg {
    width: 75%;
    display: inline-block;
    float: left;
    font-size: 16;
    padding-top: 8px;
    padding-left: 3px;
    font-family: sans-serif;
    text-align: left;
}

/* RESULTS LOG DIV ------------------------------------ */
#resultsServerLogDiv {
    grid-area: resultsServerLog;
    border: 1px solid rgba(0,0,0,.15);

}

.resultsRequest {
    width: 100%;
    display: table;
}

.requestMsg {
    width: 75%;
    display: inline-block;
    float: right;
    font-size: 16;
    padding-top: 8px;
    padding-right: 3px;
    font-family: sans-serif;
    text-align: right;
}

.requestIndicator {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    display: inline-block;
    float:right;
}

.requestIndicator circle{
    fill: #5CC2F0;
}

.resultsResponse {
    width: 100%;
    display: table;
    /* background-color: rgba(0,0,0,.1); */
    border-bottom: 1px solid #aaa;
}

.responseMsg {
    width: 75%;
    display: inline-block;
    float: left;
    font-size: 16;
    padding-top: 8px;
    padding-left: 3px;
    font-family: sans-serif;
    text-align: left;
}

.responseIndicator {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    display: inline-block;
    float:left;
}

circle.responseSuccess{
    fill: #A44754;
}

circle.responseFail{
    stroke: rgba(0,0,0,.6);
    stroke-width: 1;
    fill: rgba(255,255,255,1);
}
