<!DOCTYPE html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='socket.io.min.js')}}"></script>
    <script src="{{ url_for('static', filename='testApp.js')}}"></script>

    <title>Websockets Tutorial</title>
  </head>

  <body>
    <div class=page>
        <h1 id="topTitle">Hello World</h1>
    </div>




  </body>
</html>
