<!DOCTYPE html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='socket.io.min.js')}}"></script>
    <script src="{{ url_for('static', filename='d3.min.js')}}"></script>


    <title>Pyneal</title>
  </head>

  <body>
    <div id="sliceArea">
    </div>

    <script src="{{ url_for('static', filename='testApp.js')}}"></script>


  </body>
</html>
